{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kosmetes</title>
    <link rel="stylesheet" href="/static/css/pico.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
      <h1>Kosmetes</h1>
      <div class="search-form" role="search">
        <input type="search" name="q" placeholder="Search tasks..."
	       hx-get="/search/"
	       hx-trigger="input changed delay:300ms, keyup[key=='Enter'], load"
	       hx-target="#blocks"
	       aria-label="Search tasks" value="{{.Search}}"/>
      </div>
    </header>
    <main id="blocks">
      {{block "block" .}}{{end}}
    </main>
    <script src="/static/js/stars.js"></script>
    <script src="/static/js/htmx.min.js"></script>
</body>
</html>
{{end}}
