{{define "task"}}
<input type="checkbox"
       id="{{.Uuid}}"
       name="completed"
       hx-swap="innerHTML"
       hx-target="closest li"
       {{if .IsCompleted}}
         hx-post="/undone/{{.Uuid}}"
         checked
       {{else}}
         hx-post="/done/{{.Uuid}}"
       {{end}}
       />
<div class="task-content">
  <div class="task-metadata">
    {{if .Project}}
      <div class="project" onclick="addTextToSearch(this)">{{.Project}}</div>
    {{end}}
    {{if .Tags}}
      {{range .Tags}}
        <div class="tag" onclick="addTextToSearch(this)">+{{.}}</div>
      {{end}}
    {{end}}
  </div>
  <label for="{{.Uuid}}">
    {{.Description}}
  </label>
</div>
{{end}}
